											/* ================================= CSS Structure =================================
1. GLOBAL STYLES	
	- Fonts
	- Main Styles
	- Extra Classes
2. PAGE LOADER	
3. SLIDER SECTION
	- Slider Content
	- Flex Slider Section
	
3. HEADER SECTION	
	- Nav-Bar Section
	- Logo
	- Menu
	
4.ABOUT SECTION	
	- Story Vission Mission Of Company

5. FUN FACT SECTION
6. OUR SERVICES SECTIONS
7. GET STARTED SECTION

8. WORKS SECTION
	- Works Menus

9. MEET OUR TEAM SECTION
	- How We Work Section
	- Testimonial Section
	
10. PLAN AND PRICING SECTION
11. BLOG SECTION
12. CONTACT SECTION
13. COPY RIGHTS SECTION
=========================================================================== */

/*------------------------Global Style----------------------*/

/*-------Fonts-----*/	
/*======BrushScriptBTRegularRegular=====*/
@font-face {
    font-family: 'BrushScriptBTRegularRegular';
    src: url('../fonts/brushscriptbtregular.eot');
    src: url('../fonts/brushscriptbtregular.eot') format('embedded-opentype'),
         url('../fonts/brushscriptbtregular.woff') format('woff'),
         url('../fonts/brushscriptbtregular.ttf') format('truetype'),
         url('../fonts/brushscriptbtregular.svg#BrushScriptBTRegularRegular') format('svg');
}

/*-------Main Styles-----*/							
body{
	margin:0 auto;
}
h1,h2,h4{
	font-family:'BrushScriptBTRegularRegular';
}
h2{
	font-size:30px;
	color:#ac6d35;
	text-align:center;
	line-height:1.5;
}
h3{
	font-family:'Lato';
	font-size:18px;
	font-weight:700;
	color:#c3b09e;
	line-height:2;
	text-transform:uppercase;
}
h4{
	font-size:20.053333px;
	color:#2C1616;
}
h5{
	font-family:'Raleway';
	font-weight:500;
	font-size:18px;
	color:#33170c;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
p{
	font-family: 'Lato', sans-serif;
	font-size:14px;
	text-align:center;
	color:#c3b09e;
	line-height:1.6;
}
/*-------Extra Classes-----*/
a{
	font-family:'BrushScriptBTRegularRegular';
	color:#33170c;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	font-size:18px;
}
a:hover{
	color:#ac6d35;
	text-decoration:none;
}		
.container{
	max-width:1210px;
	width:100%;
}

.absolute{
	position:absolute;
}
.relative{
	position:relative;
}
.text-brown{
	color:#ac6d35;
}

.cup-divider{
	background-image:url(../images/cofee-cup-divider.png);
	background-repeat:no-repeat;
}
.animated {
	visibility:hidden; 
}
.visible {
	visibility:visible;
}
img{
	max-width:100%;
}	
/*------------------------Page Loader----------------------*/
#pageloader {
    background-color:#000000;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
} 
.loader-item {
    background:url(../images/loder.gif.gif) no-repeat;
    height: 48px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 48px;
}
.loader-item h2 {
    color: #CCCCCC;
    font-size: 20px;
    margin: 0 auto;
}
.colored-border {
    border-color: #3498db;
}

/*==========SLIDER SECTION=========*/
/*---------Slider Content---------*/
.slider-bg{
	background:url(../images/backgroung-images/wood-bg.jpg) repeat;
	padding-bottom:50px;
	padding-top:50px;
}
.cup-logo{
	background-image:url(../images/slider/cup-logo.png);
	width:201px;
	height:238px;
}
.slider-ribbon-bg{
	background:url(../images/slider/ribbon.png) no-repeat center;	
	height:56px;
	margin-top:60px;
	text-align:center;
}
.ribbon-title{
	color:#33170c;
	padding-top:10px;
	font-size:32px;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.slider-title{
	color:#33170c;
	font-family:'Raleway';
	font-size:100px;
	font-weight:700;
	margin:35px 0;
	text-align:center;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.slider-para{
	font:'Lato';
	color:#33170c;
	font-size:18px;
	font-weight:700;
	text-align:center;
	padding:0 140px;
	margin-bottom:50px;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
/*==========Flex Slider Section=========*/
.flexslider .slides > li{
	height:auto;
}
.flexslider{
	background:none repeat scroll 0 0 transparent;
	border:none;
	border-right:none;
	box-shadow:none;
}
.flex-direction-nav .flex-prev{
	opacity:1;
	left:0px;
}
.flex-direction-nav .flex-next{
	opacity:1;
	right:0px;
}
.flex-direction-nav a{
	margin:0px;
}
.flex-prev{
	background: url(../images/slider/previous.png)no-repeat;
}
.flex-next{
	background:url(../images/slider/next.png) no-repeat;
}
.flex-direction-nav a{
	height:66px;
	width:65px;
	top:30%;
	text-indent:-9999px;
}
.flex-direction-nav a:before{
	content:none;
}
.flex-direction-nav a.flex-next:before{
	content:none;
}
.flex-direction-nav .flex-next{
	text-align:left;
}
.flex-control-paging li a{
	background:url(../images/slider/slide-indicator.png) no-repeat;
	height: 21px;
    width: 20px;
}
.flex-control-paging li a.flex-active{
	background:url(../images/slider/slide-indicator-active.png) no-repeat;
	height: 21px;
    width: 20px;
}	
	
/*============HEADER SECTION=========*/
/*==========Nav-Bar Section==========*/
.header{
	width:100%
}
.navbar-default{
	background-color:#14120f;
	border:none;
	margin-bottom:0px;
	border-radius:0px;
	border-bottom:solid;
	border-bottom-color:#ac6d35;
	border-bottom-width:6px;
	z-index:15;
}
/*-------Logo---------*/
.logo-container{
	padding:25px 0 20px;
	display: block;
}
/*------Menu---------*/
.navbar-nav{
	padding:10px 0;
	background: #14120F;
    position: relative;
    z-index: 9;
	margin-bottom:0;
	margin-top:0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form , .navbar-default .navbar-toggle{
	border-color:#ac6d35;
}
.navbar-toggle{
	margin-top:20px;
}	
 .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	margin-top:15px;
}
.navbar-default .navbar-nav > li > a{
	font-family: 'Lato', sans-serif;
	font-size:14px;
	color:#ac6d35;
	padding: 15px 0;
    width: 92px;    
    display: block;
	margin:0 auto;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li.active a, .navbar-default .nav > li.active > a:focus, .navbar-default .nav > li.active > a:hover {
	background:url(../images/navigation-bar/active-menu.png) transparent no-repeat center;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
.sticky-wrapper.is-sticky {
	background: #33170C;
	position: relative;
	z-index: 9999;
}
/*==========ABOUT SECTION==========*/
.bg-about{
	background:url(../images/backgroung-images/gray-patten-bg.jpg) repeat;
	width:100%;
	height:100%;
	padding:40px 0 115px 0;
}
.about-heading{
	margin-top:40px;
}
.circle-part{
	margin-top:100px;
}
.about-circle{
	position:relative;
	border-radius: 50%;
	border: 2px solid #ac6d35;
	max-width:380px;
	height:380px;
	margin:30px auto 50px;
	padding: 100px 19px 40px;
	width:100%;
}
.about-icon-bg{
	background:url(../images/about/wood-icon-bg.png) no-repeat;
	text-align:center;
	height:160px;
	width:160px;
	position:absolute;
	top:-18%;
	left:0;
	right:0;
	margin:auto;
	vertical-align: middle;
	font-size:70px;
	color:#713800;
}
.about-icon-bg i{
   padding-top: 40px;
   display: block;
   text-shadow: 0 2px 1px rgba(255, 255, 255, 0.3);
}
.circle-description{
	padding:0 25px;
}
.read-ribbon-bg{
	background-image:url(../images/read-ribbon.png);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	width:auto;
	height:40px;
	padding-top:7px;
	margin-top:40px;
}
/*========== Story Vission Mission Of Company ========== */
.wood-title-bg{
	background:url(../images/about/wood-bar.png) no-repeat top;
	height:50px;
	padding-top:5px;
	margin:45px 0 35px;
}
.title-text{
	margin:10px 0 20px;
}
.title-description{
	padding:0 18px;
}
/*========== FUN FACT SECTION ==========*/
.fun-facts-bg{
	background:url(../images/backgroung-images/fun-bg.jpg) 50% 0 repeat fixed; position: inherit !important; 
	padding:60px 0 120px;
}
.counter-part{
	width:20%;
	float:left;
	position:relative;
	margin-top:90px;
	padding:0 5px;
}
.fun-icon-bg-sm{
	background:url(../images/fun-facts/wood-sm-circle.png) no-repeat;
	height:66px;
	width:64px;
	position:absolute;
	margin:auto;
	vertical-align:central;
	color:#713800;
	right:0;
	left:0;
	top:-25px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.4);
}
.fun-icon-bg-sm i.tie{
	font-size:40px;
}
.fun-icon-bg-sm i.suit{
	font-size: 64px;
    line-height: 56px;
}
.fun-icon-bg-sm i.email{
	font-size:10px;
	font-size: 22px;
    display: block;
    padding-top: 13px;
}
.fun-icon-bg-sm i.likes{
	font-size:33px;
	display: block;
    margin-top: 5px;
}
.fun-icon-bg-lg{
	background:url(../images/fun-facts/wood-lg-circle.png) no-repeat;
	height:106px;
	width:104px;
	position:absolute;
	color:#713800;
	margin:auto;
	right:0;
	left:0;
	top:-40px;
	padding-top:18px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.4);
}
.fun-icon-bg-lg i.coffee{
	display: block;
    font-size: 62px;
    margin: -16px 0 0 6px;
}
.fun-circle{
	border-radius: 50%;
	border: 1px solid #ac6d35;
	max-width:220px;
	height:220px;
	padding-top:60px;
	margin: 0 auto;
	text-align:center;
	vertical-align:central;
}
.fun-number{
	font-family: 'Lato';
	font-size:60px;
	font-weight:100;
	color:#fc8d20;
	text-align:center;
}
.fun-category{
	font-size:16px;
	font-family: 'Lato';
	font-style:italic;
	color:#fc8d20;
	margin-top:-5px;
}
.buy-ribbon-bg{
	background:url(../images/fun-facts/middile-ribbon.png) no-repeat center;
	position:absolute;
	text-align:center;
	padding-top:15px;
	top:85px;
	right:0px;
	left:0px;
	height:70px;
	width:auto;
}
.buy-text{
	color:#2C1616;
	font-size:28px;
}	
/*========= OUR SERVICES SECTIONS ==========*/
.services-bg{
	background:url(../images/backgroung-images/gray-patten-bg.jpg) repeat;
	width:100%;
	height:100%;
	padding:80px 0 63px;
}
.services-description{
	padding:0 24px;
}
.services-box-part{
	margin-top:48px;
}
.services-box{
	border:hidden;
	border-radius:5px;
	padding:20px 17px 30px;
	color:#fc8d20;
	text-align:center;
	max-width:380px;
}
.services-box > h3 {
    margin-bottom: 5px;
    margin-top: 15px;
}
.services-box i{
	text-shadow: 0 3px 0 #753c04;
	font-size:55px;
}	
	
.services-box:hover{
	background-color:#17140e;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*========== GET STARTED SECTION =========*/
.get-bg{
	background:url(../images/backgroung-images/wood-bg.jpg) no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
}
.get-description{
	font-family: 'Lato';
	font-weight:700;
	font-size:24px;
	color:#2C1616;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	margin:0px;
	padding-right:50px;
	padding-top:50px;
	text-align:left;
	text-transform:uppercase;
}
.get-ribbon{
	background:url(../images/get-started/getstrated-ribbon.png) no-repeat;
	height:65px;
	width:300px;
	padding:10px 0 0;
	margin:13px 0 56px;
	text-align:center;
}
.get-ribbon-text{
	color:#2C1616;
	margin-top:0;
	font-size:28px;
	display:block;
	max-width:300px;
	margin:0 auto;
}
.responsive-photo{
	position:absolute;
	right:0;
	top:72px;
	z-index:1;
}
/*========== WORKS SECTION ==========*/
.works-bg{
	background:url(../images/backgroung-images/gray-patten-bg.jpg) repeat;
	width:100%;
	height:100%;
	padding:80px 0 40px;
}
.works-heading{
	padding:30px 0 0;
}
.works-menubar{
	padding:40px 33px 40px 0;
	text-align:center;
}
/*------ Works Menus ---*/
.works-menubar  ul  li
{
	display:inline-block;
	font-family:'Lato';
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
	text-transform:uppercase;
	color:#70300e;
	background:url(../images/works/works-button.png) no-repeat center;
	text-align:center;
	height:38px;
	margin:0 auto;
	padding:9px ;
	width:96px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); 
}
.works-menubar  ul  li:hover
{
	background:url(../images/works/filter-0n-hover.png) no-repeat center;
	color:#a36732;
}
.works-menubar  ul  li.active
{
	background:url(../images/works/filter-0n-hover.png) no-repeat center;
	color:#a36732;
}
.portfolio-part{
	height:auto;
	overflow:hidden;
	position:relative;
	width:100%;
	margin-bottom:40px;
}
.portfolio-photo{
	display:inline-block;
	float:left;
	position:relative;
}
.portfolio-photo img{
	width:100%;
}	
.big-photo{
	width:40%;
}
.small-photo{
	width:20%;
}
.overlay{
	background:url(../images/works/portfolio-hover.jpg) repeat;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	text-align:center;
	display:none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.overlay a{
	height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index:10;
}
.portfolio-photo:hover .overlay{
	display:block;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}	
.overlay-inner
{
	display:block;
	position:absolute;
	top:40%;
	bottom:0;
	right:0;
	left:0;
	text-align:center;
}		
.photo-title{
	font-size:14px;
	color:#70300e;
	margin:0;
	font-weight:900;
}
.photo-description{
	font-size:12px;
	color:#70300e;
	font-weight:300;
}	
.load-more-bg{
	background:url(../images/works/load-more-works-bg.png) no-repeat;
	text-align:center;
	margin:40px auto;
	padding-top:10px;
	width:304px;
	height:65px;
}
.load-more-text{
	font-size:28px;
	color:#2C1616;
}
#Container .mix{
	display: none;
}	
/*========== MEET OUR TEAM SECTION ==========*/
.meet-bg{
	background:url(../images/backgroung-images/meet-our-team-bg.jpg) repeat transparent;
	width:100%;
	height:100%;
	padding:60px 0 90px;
}
.meet-description{
	padding:0 24px;
}
.team-part{
	width:19%;
	margin: 55px 1.25% 0 0;
	float:left;
	position:relative;
}
.no-margin {
	margin:55px 0;
}
.team-bg{
	background:url(../images/team/wood-bord.png) no-repeat transparent;
	height:356px;
	max-width:224px;
	width:100%;
	text-align:center;
	padding:16px;
	margin:0 auto;
	position:relative;
}
.team-photo{
	width:195px;
	height:195px;
	box-shadow: -5px 5px 10px -5px #333333;
}
.team-name{
	font-weight:700;
	color:#381D1D;
	font-size:18px;
	margin:20px 0 0;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.team-designation{
	font-size:14px;
	font-weight:300;
	color:#381D1D;
	margin:-5px 0 15px;
}
.selo-top{
	background:url(../images/team/selotape-top.png) no-repeat;
	background-size:cover;
	position:absolute;
	top:3px;
	left:0;
	height:49px;
	width:58px;
}
.selo-bottom{
	background:url(../images/team/selotape-bottom.png) no-repeat;
	background-size:cover;
	position:absolute;
	right:0;
	top:178px;
	height:42px;
	width:50px;
}
.team-social-icons{
	display:inline-block;
}
.team-icons{
	display:inline-block;
	color:#823E01;
	cursor:pointer;
	font-size:20px;
    margin-top: -30px;
    width: 18px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
.team-icons.fb:hover{
	color:#3C5A98;
}
.team-icons.tweet:hover{
	color:#03ACF1;
}
.team-icons.linked:hover{
	color:#0C77AF;
}
.team-icons.google:hover{
	color:#DD4B39;
}

/*========= How We Work Section ==========*/
.how-part{
	padding-right:0;
}
.how-heading{
	margin-bottom:2px;
	text-align:left;
}
.how-description{
	font-size:18px;
	margin:20px 0 20px;
}
.how-title-bg{
	background:url(../images/team/how-wood.png) no-repeat;
	max-height:55px;
	max-width:225px;
	padding:3px 0 3px 15px ;
	margin-top:15px;
	width:100%;
}	
.how-content{
	font-size:14px;
	margin:15px 0 30px;
}
/*--------Testimonial Section--------*/
.testimonial-part{
	padding-left:35px;
}
.testimonial-bg{
	background:url(../images/team/bg-paper.png) no-repeat;
    background-size: cover;
    height:100%
    max-width: 100%;
    padding: 0 15px;
    position: relative;
}
.testimonial-heading{
	margin-bottom:-9px;
	text-align:left;
}
.testimonial-description{
	font-size:18px;
	margin-bottom:25px;
}
.testimonial-quote{
	padding:0 3px;
}	
.testimonial-content{
	font-family: 'Lato';
	font-style:italic;
	color:#333333;
	font-size:16px;
	margin-bottom:4px;
	list-style:none;
	text-shadow:0 2px 1px rgba(255,255,255,0.3);
	padding-top:42px;
}
.testimonial-name{
	font-family: 'Lato';
	font-weight:700;
	font-size:14px;
	color:#33170c;
	margin-bottom:0px;
	list-style:none;
	text-shadow:0 2px 1px rgba(255,255,255,0.3);
	text-transform: uppercase;
}
.testimonial-designation{
	font-family: 'Lato';
	font-style:italic;
	font-size:14px;
	color:#ac6d35;
	list-style:none;
	text-shadow:0 2px 1px rgba(255,255,255,0.3);
	padding-bottom:42px;
}
.black-box-bg{
	border:hidden;
	background-color:#000000;
	max-height:108px;
	max-width:110px;
	margin:52px auto 0;
	transform: rotate(-2deg);
}
.right-quote{
	bottom: 50px;
    color: rgb(221, 188, 149);
    font-size: 55px;
    opacity: 1;
    position: absolute;
    right: 30px;
    top: 50%;
}
.testimonial-photo{
	
	transform: rotate(2deg);
}
/*vticker*/
.ticker{
	width:100%;
}
.ticker ul{
	padding: 0;
}
.ticker li{
	list-style: none;
	padding:3px 0;
}
.et-run{
	background: red;
}
/*========== PLAN AND PRICING SECTION ==========*/
.plan-bg{
	background:url(../images/backgroung-images/plan-bg.jpg) 50% 0 repeat fixed; position: inherit !important; 
	width: 100%; 
	padding:65px 0 133px;
}
.plan-para{
	margin-top:25px;
}
.price-container {
	display:block;
	text-align:center;
}
.price-table{
	width:19.5%;
	float:none;
	display:inline-block;
	
}
.price-container:hover .price-table-bg.transform {
    transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	-ms-transform: none;
	box-shadow:none;
	z-index:1;
}
.price-table-bg{
	background:url(../images/pricing/pricing-bg.jpg) no-repeat;
	position:relative;
	z-index:1;
	transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-webkit-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	-ms-transition:all 0.5s ease 0s;
	height:550px;
	max-width:220px;
	margin:70px auto 0;
	padding-top:1px;
}
.price-table-bg:hover, .price-container .price-table-bg.transform:hover {
	box-shadow:0 0 25px 1px #33170c;
	-moz-box-shadow:0 0 25px 1px #33170c;
	-webkit-box-shadow:0 0 25px 1px #33170c;
	-o-box-shadow:0 0 25px 1px #33170c;
	-ms-box-shadow:0 0 25px 1px #33170c; 
	transform: scale(1.22, 1.07);
	-moz-transform: scale(1.22, 1.07);
	-webkit-transform: scale(1.22, 1.07);
	-o-transform: scale(1.22, 1.07);
	-ms-transform: scale(1.22, 1.07);	
	border: 4px solid #56341B;
	z-index:3;
}	
.price-title{
	font-size:30px;
	color:#33170c;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.price-circlebg{
	background:url(../images/pricing/price-circle.png) no-repeat;
	width:184px;
	height:185px;
	margin: 0px auto 20px;
}
.price{
	padding-top:60px;
}
.dollar{
	font-family:'lato';
	font-weight:300;
	font-size:40px;
	color:#573516;
}
.dollar-price{
	font-family:'lato';
	font-weight:700;
	font-size:40px;
	color:#573516;
}
.features{
	font-size:15px;
	border:solid 1px #f0ab46; 
	border-right: none;
    border-left: none;
	box-shadow:0px 0px 1px #000000;
	color:#33170c;
	padding:9px 0;
	margin:0;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
	text-transform:capitalize;
}
.ordernow-ribbon-bg{
	background:url(../images/pricing/order-now.png);
	width:122px;
	height:40px;
	margin-left:auto;
	margin-right:auto;
	margin-top:16px;
	padding-top:6px;
	text-align:center;
}
.transform{
	box-shadow:0 0 25px 1px #33170c; 
	-moz-box-shadow:0 0 25px 1px #33170c; 
	-webkit-box-shadow:0 0 25px 1px #33170c; 
	-o-box-shadow:0 0 25px 1px #33170c; 
	-ms-box-shadow:0 0 25px 1px #33170c; 
	transform: scale(1.22, 1.07);
	-moz-transform: scale(1.22, 1.07);
	-webkit-transform: scale(1.22, 1.07);
	-o-transform: scale(1.22, 1.07);
	-ms-transform: scale(1.22, 1.07);
	border: 4px solid #56341B;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	z-index:3;
}
/*========== BLOG SECTION =========*/
.blog-bg{
	background:url(../images/backgroung-images/gray-patten-bg.jpg) repeat;
	padding:70px 0 0;
}
.timeline{
	margin:82px auto 0;
	background:url(../images/blog/vertical-line.png) center repeat-y;
	display:block;
	float:left;
	max-width:1180px;
	width:100%;
	padding-left:0;
	position:relative;
	padding-bottom:35px;
}
.timeline-cup{
	position:relative;
	margin-top:43px;
}	
.blog-cup{
	float:none;
	background:url(../images/blog/cup-of-cofee.png)center no-repeat;
	width:100%;
	height:108px;
	position:absolute;
	right:1.8%;
	top:-6%;
	z-index:1;
}
.timeline li{
	background:url(../images/blog/blog-news-bg.jpg);
	list-style:none;
	position:relative;
	text-align:left;
	margin-top:0px;
	margin-bottom:20px;
	position:relative;
	padding: 20px 20px 15px;
	width:100%;
	float:right;
	width:45%;
}
.timeline li:nth-of-type(2n){
	float:left;
}
.timeline li:nth-of-type(1){
	margin-top:50px;
}
.timeline li:nth-of-type(2){
	margin-top:100px;
}
.timeline li:nth-of-type(2n) .post-arrow{
	background:url(../images/blog/note-arrow-right.png) no-repeat;
	width:100%;
	height:15px;
	position:absolute;
	top:8px;
	left:100%;
}	
.timeline li .post-arrow{
	background:url(../images/blog/note-arrow.png) no-repeat;
	width:100%;
	height:15px;
	position:absolute;
	top:8px;
	right:2.4%;
}
.timeline li:before{
	background:url(../images/blog/timeline-round.png) no-repeat;
	height:42px;
	content:'';
	display:block;
	position:absolute;
	z-index:20;
	width:30px;
	height:30px;
	top:1%;
    left: -14%;
}
.timeline li:nth-of-type(2n):before{
	background:none;
	right: 0;
    left: 0;
    margin: 0 auto;
	
}
.timeline li:nth-of-type(2n):after{
	background:url(../images/blog/timeline-round.png) no-repeat;
	content: "";
    display: block;
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 20;
	right: -14%;
}
.blog-selo-top{
	background-image:url(../images/blog/selotape-top.png);
	background-size:cover;
	background-repeat:no-repeat;
	position:absolute;
	top:-7%;
	left:-1%;
	height:49px;
	width:58px;
	z-index:1;
}
.blog-selo-bottom{
	background-image:url(../images/blog/selotape-bottom.png);
	background-size:cover;
	background-repeat:no-repeat;
	position:absolute;
	right:0%;
	bottom:-5%;
	height:42px;
	width:50px;
}		
.post-bg{
	background:url(../images/blog/post-bg-1.png) no-repeat;
	height: 100%;
    margin: 10px 0;
    max-width: 505px;
    padding: 3px 0 25px;
    background-size: cover;
}
.blog-title{
	color:#823f03;
	padding:10px 25px 0;
	text-shadow:0 2px 0px rgba(255,255,255,0.4);
}
.blog-description{
	color:#333333;
	text-align:justify;
	padding:0 25px 5px;
	line-height:1.6;
	text-shadow:0 2px 0 rgba(255, 255, 255, 0.4);
	font-weight:600;
}	
.blog-details p{
	color:#773A01;
	font-size:14px;
	font-family:'lato';
	font-weight:700;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
}
.blog-date{
	padding-top:5px;
	text-align:center;
}
.blog-comment{
	padding-top:5px;
	text-align:center;
}	
.blog-like{
	padding-top:5px;
	text-align:center;
}
.blog-details  i {
    font-size: 3em;
    font-style: normal;
	line-height:1;
	font-size: 20px;
	vertical-align:bottom;
}
.blog-date i{
	vertical-align:top
	}
.blog-text{
	padding-left:5px;
}				
.blog-ribbon-bg{
	display:block;
	background-image:url(../images/read-ribbon.png);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	width:100%;
	height:40px;
	padding-top:7px;
	margin-left:16px;
	margin:0 auto;
	font-weight:400;
}
li.subscribe{
	background:url(../images/blog/blog-news-bg.jpg) no-repeat;
	background-size:cover;
	max-width:540px;
	width:45%;
	height:100%;
	margin-top:10px;
	padding:0 20px;
}
li.subscribe:before{
	background:url(../images/blog/subscrib-circle.png) no-repeat;
	height:42px;
	content:'';
	display:block;
	position:absolute;
	z-index:20;
	width:50px;
	height:50px;
	top:-8%;
	left:-15.7%;
}
.timeline li.subscribe .post-arrow{
	background:url(../images/blog/note-arrow.png) no-repeat;
	width:100%;
	height:15px;
	position:absolute;
	top:8px;
	right:2.4%;
}	
.form-control.subscribe-paper-bg{
	background:url(../images/blog/subscribe-paper-bg.png) no-repeat;
	max-width: 361px;
	height:72px;
	width:100%;
	font-size:14px;
	font-family: 'Lato';
	color:#333333;
	font-style:normal;
	padding-bottom:12px;
	margin-top:3px;
	box-shadow:none;
}
.subscribe .blog-ribbon-bg{
	margin:20px 0;
}
.subscribe-icon{
	color: rgb(130, 63, 3);
    font-size: 20px;
    left: -13%;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    top: 8%;
    z-index: 20;
}	
/*========= CONTACT SECTION ==========*/
.contact-bg
{
	background:url(../images/backgroung-images/wood-bg.jpg) repeat transparent;
	width:100%;
	height:100%;
	padding:65px 0 25px;
}
.contact-heading{
	color:#33170c;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.contact-description{
	color:#48150b;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}			
.map-form-part{
	margin-top:60px;
}
iframe {
    display: block;
    margin: 0 auto;
    text-align: center;
	max-width: 540px;
    width: 100%;
	border:none;
}	
.map-bg{	
	background: url(../images/contact/map-shadow.png) center center no-repeat transparent;
	height: 27px;
	margin-top:-8px;
}	
.contact-form{
	padding-left:35px;
}
.form-control{
	background:url(../images/contact/text-box-bg.jpg) 0 0 no-repeat transparent;	
	height:50px;
	border:none;
	font-size:16px;
	font-family: 'Lato';
	font-style:italic;
	color:#33170c;
	max-width: 540px;
	border-radius:0;
	margin:0 auto 5px;
	position: relative;
	width:100%;
}
.form-group
{
	background: url(../images/contact/text-box-shadow.png) no-repeat scroll bottom center rgba(0, 0, 0, 0);
	display: block;
	width: 100%;
	padding-bottom:12px;
}
.form-control::-moz-placeholder{
	color:#33170c;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}	
.form-control::-webkit-input-placeholder{
	color:#33170c;
}	
.form-control:-ms-input-placeholder{
	color:#33170c;
}
.textarea-bg{
	background:url(../images/contact/textarea-bg.jpg) 0 0 no-repeat transparent;
	font-size:16px;
	font-family: 'Lato';
	font-style:italic;
	color:#33170c;
	height:130px;
	border:none;
	height:130px;
	max-width:540px;
	padding:6px 12px;
}			
.form-control:focus{
	box-shadow:none;
}		
.send-bg{
	background:url(../images/contact/send-bg.png) no-repeat center center;
	background-color:transparent;
	text-align:center;
	height:76px;
	width:100%;
	padding-top:2px;
	
}	
.form-ribbon-text{
	background-color:transparent;
	font-family:'BrushScriptBTRegularRegular';
	color:#2C1616;
	margin-top:0;
	font-size:28px;
	display:inline-block;
	max-width:300px;
	margin:0 auto;
	text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.form-message{
	display:none;
}	
.form-control-feedback{
	height:67px;
	line-height:50px;
}
.has-success .form-control:focus,.has-error .form-control:focus{
	box-shadow:none;
}	
.social-part a:hover{
	text-shadow: 0 2px 1px #c05600;
}

.social-part{
	text-align:center;
	margin:45px 0;
	
}
.social-part a{
	text-shadow:none;
	color:#261C12;
	font-size:60px;
}	
p.form-message{
	color:#2C1616;
	}
/*==========Footer section==========*/
.footer-bg{
	background:url(../images/backgroung-images/footer-bg.jpg) 50% 0 repeat fixed; position: inherit !important;
	width: 100%; 
}
.footer-part{
	width:20%;
	float:left;
	text-align:center;
	margin-top:35px;	
}
.footer-icons{
	color:#cc9933;
	font-size:45px;
	text-shadow: 0 3px 0 #753c04;
	font-family: "entypo";
}
.footer-details{
	color:#c3b09e;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	text-transform:capitalize;
	margin:-11px 0px 25px ;
}
.footer-details p{
	margin-bottom:0;
}
/*========= COPY RIGHTS SECTION ===========*/	
.copyright-details{
	display:block;
	color:#482400;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	font:bold;
	text-align:center;
	margin:20px 0px 0px;
	text-shadow:0 2px 1px rgba(255,255,255,0.3);
}	